<template name="campaign">

    <section id="info">
        <a class="bandname color-brand" href="#">{{show_title}}</a>
        <br>
        <a class="venue color-brand" href="#">{{venue}}</a>
        <a class="date color-brand" href="#">{{dateToThrow}}</a>
    </section>

    <section class="content-container container">

        <!-- FEATURED VIDEO -->
        <div class="pledge-buttons">
            <!-- Button -->
            <div class="form-horizontal">
                <div class="form-group">
                    <button id="pledge_button" name="pledge" class="btn btn-primary"  data-uk-modal="{target:'#pledge_modal'}">Pledge{{> make_pledge}} </button>

                    <button id="follow_button" name="follow" class="btn btn-default" data-uk-modal="{target: '#follow_modal'}">Follow{{> follow_campaign}}</button>
                </div>
            </div>
        </div>

        <iframe src="{{video}}" class="video-container" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <div class="campaign-info">
            <h1>{{numBackers}}</h1>
            <h5>backers</h5>
            <h1>{{fundedSoFar}}</h1>
            <h5>pledged of {{getGoal}} goal</h5>
            {{#with timeLeft}}
                <h1>{{number}}</h1>
                <h5>{{unit}} to go</h5>
            {{/with}}
            <a href="#">
                <h1>{{ticketPrice}}</h1>
                <h5>per ticket</h5>
            </a>
        </div>

        <!-- SHOULD INCLUDE RELATED ARTISTS ETC -->
        <div id="artist-info" class="col-xs-12">
            <p class="color-black">{{description}}</p>
        </div>

        <div id="venue-info" class="col-xs-12">
        </div>
    </section>

</template>


<template name="make_pledge">

    <div id="pledge_modal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close">x</a>
            <div class='body uk-margin-large'>
            <form class="uk-form uk-form-horizontal">

                <fieldset data-uk-margin>
                    <div class='uk-form-row uk-margin-medium-bottom'>
                        <label class='black'>I would like to pledge  </label>
                        <input id="numtickets" name="numtickets" placeholder="0" class="uk-form-small uk-margin-right uk-margin-left" size="4" type="text"> 
                        <label class='black'>  tickets at {{ticketPrice}} each</label>
                    </div>   

                    <div class='uk-form-row'>
                        <button id="cancel_pledge" name="cancel_pledge" class="btn btn-default uk-modal-close">Cancel</button>

                        <button id="complete_pledge" name="complete_pledge" class="btn btn-primary">Pledge</button>
                    </div>          
                </fieldset> 
            </form>
            </div>
        </div>
    </div>

</template>

<template name="follow_campaign">
    
    <div id="follow_modal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close">x</a>
            Awesome! You're now following this campaign. 
        </div>
    </div>

</template>

        

