<template name="campaign">
    <section id="info">
        <a class="bandname color-brand" href="#">{{show_title}}</a>
        <br>
        <a class="venue color-brand" href="#">{{venue}}</a>
        <a class="date color-brand" href="#">{{dateToThrow}}</a>
    </section>

    <section class="content-container container">

        <!-- FEATURED VIDEO -->
        <div class="pledge-buttons">
            <!-- Button -->
            <form class="form-horizontal" id="login-form" action="action" role="form">
                <fieldset>
                    <div class="form-group">
                        <button id="pledge-button" name="pledge" class="btn btn-primary">Pledge</button>

                        <button id="pledge-button" name="pledge" class="btn btn-default">Follow</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <iframe src="{{video}}" class="video-container" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <div class="campaign-info">
            <h1>{{numBackers}}</h1>
            <h5>backers</h5>
            <h1>{{pledgedSoFar}}</h1>
            <h5>pledged of ${{goal}} goal</h5>
            {{#with timeLeft}}
                <h1>{{number}}</h1>
                <h5>{{unit}} to go</h5>
            {{/with}}
            <a href="#">
                <h1>{{ticket_price}}</h1>
                <h5>tickets</h5>
            </a>
        </div>

        <!-- SHOULD INCLUDE RELATED ARTISTS ETC -->
        <div id="artist-info" class="col-xs-12">
            <p class="color-black">{{description}}</p>
        </div>

        <div id="venue-info" class="col-xs-12">
        </div>
    </section>
</template>

        

