<template name="createcampaign">
  <div class="content-container container">
    <form class="form-horizontal" id="login-form" action="action" role="form">
      <fieldset>

      <!-- Form Name -->
      <legend>Create a Campaign</legend>

      <!-- Show Title input-->
      <div class="form-group">
        <label for="show_title">Title of the Show</label>
        <input id="show_title" name="show_title" placeholder="please enter a title for your campaign" class="form-control" type="text">
      </div>

      <!-- Artist input-->
      <div class="form-group">
        <label for="artist">Artist</label>
        <input id="artist" name="artist" placeholder="please enter the name of the artist" class="form-control" type="text">      
      </div>

      <!-- Venue input-->
      <div class="form-group">
        <label for="venue">Venue</label>
        <input id="venue" name="venue" placeholder="please enter the name of a venue" class="form-control" type="text">      
      </div>

      <!-- Goal input-->
      <div class="form-group">
        <label for="goal">Goal</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
          <input id="goal" name="goal" placeholder="how much do you need to raise to make this happen?" class="form-control" type="text">    
        </div>  
      </div>

      <!-- Ticket Price input-->
      <div class="form-group">
        <label for="ticket_price">Ticket Price</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
          <input id="ticket_price" name="ticket_price" placeholder="How much will a single ticket cost? " class="form-control" type="text">    
        </div>  
      </div>

      <!-- Date to throw the show input
      <div class="form-group"> 
        <label for="date_to_throw">Date of the show</label>

        <div class="input-group date" id="date_to_throw" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
          <input class="form-control" size="" type="text" value="12-02-2012" readonly>
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>

      </div>
      -->

      <!-- Date -->
      <div class="form-group">
        <label for="date_to_throw">Proposed date for the show</label>
        <input id="date_to_throw" name="date_to_throw" placeholder="mm/dd/yyyy" class="form-control" type="text">
      </div>

      <!-- Image -->
      <div class="form-group">
        <label for="image">Image for Campaign</label>
        <input id="image" name="image" placeholder="An image url for the campaign" class="form-control" type="text">
      </div>

      <!-- Video -->
      <div class="form-group">
        <label for="video">Video for Campaign Page</label>
        <input id="video" name="video" placeholder="A video url for the campaign page" class="form-control" type="text">
      </div>

      <!-- Description of the Show -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Please provide a description of the show" class="form-control"></textarea> 
      </div>

      <!-- Button -->
      <div class="form-group">
        <a id="submit-button" name="submit" class="btn btn-primary">Start Campaign</a>
      </div>

      </fieldset>
    </form>
  </div>
</template>