<template name="createcampaign">
  <div class="content-container container">
    <form class="form-horizontal" id="login-form" action="action" role="form">
      <fieldset>

      <!-- Form Name -->
      <legend>Create a Campaign</legend>

      <!-- Show Title input-->
      <div class="form-group">
        <label for="show_title">Title of the Show</label>
        <input id="show_title" name="show_title" placeholder="please enter a title for your campaign" class="form-control" type="text">
      </div>

      <!-- Artist input-->
      <div class="form-group">
        <label for="artist">Artist</label>
        <input id="artist" name="artist" placeholder="please enter the name of the artist" class="form-control" type="text">      
      </div>

      <!-- Venue input-->
      <div class="form-group">
        <label for="venue">Venue</label>
        <input id="venue" name="venue" placeholder="please enter the name of a venue" class="form-control" type="text">      
      </div>

      <!-- Date to throw the show input-->
      <div class="form-group input-append date" id="date_to_throw" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
        
        <label for="date_to_throw">Date of the show</label>
        
        <input class="span2" size="" type="text" value="12-02-2012" readonly>
        <span class="add-on"><i class="icon-calendar"></i></span>

      </div>

      <!-- Image -->
      <div class="form-group">
        <label for="image">Image for Campaign</label>
        <input id="image" name="image" placeholder="An image url for the campaign" class="form-control" type="text">
      </div>

      <!-- Video -->
      <div class="form-group">
        <label for="video">Video for Campaign Page</label>
        <input id="video" name="video" placeholder="A video url for the campaign page" class="form-control" type="text">
      </div>

      <!-- Button -->
      <div class="form-group">
        <a id="submit-button" name="submit" class="btn btn-primary">Start Campaign</a>
      </div>

      </fieldset>
    </form>
  </div>
</template>