<template name="explore">
    <section id="info">
        <h2 class="bandname text-center" href="#">Shows Near {{zipCode}}</h2>
        <br>
    </section>

    <section class="content-container container">
        <!-- THE CAMPAIGNS -->
        {{#each campaigns}}
            {{>campaign_card}}
        {{/each}}
        <div class="col-xs-12 col-sm-4"></div>

        <div class="col-xs-12 col-sm-4"></div>

    </section>
</template>    

<template name="campaign_card">
    <div class="campaign-card col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4" href="campaign.html">

            <a href="campaign.html"><img class="campaign-image" src="{{image}}"></a>

            <h3>{{show_title}}</h3>
            <span class="date-venue">{{date_to_throw}}</span>
            <span class="date-venue">{{venue}}</span>

            <div class="slider col-xs-12">
                <div class="progress" style="width: {{percent_funded}}%;"></div>
            </div>

            <div class="percentage col-xs-3">
                <strong>{{percent_funded}}%</strong>
                <br>
                <span>funded</span>
            </div>

            <div class="funded col-xs-4">
                <strong>{{funded_so_far}}</strong>
                <br>
                <span>pledged</span>
            </div>

            <div class="to-go col-xs-5">
                <strong>{{days_to_go}}</strong>
                <br>
                <span>days to go</span>
            </div>

        </div>
</template>


