<template name="explore">
    <section id="info">
        <h2 class="bandname text-center" href="#">Shows Near {{userLocation}}</h2>
        <br>
    </section>

    <section class="content-container container">
        <!-- THE CAMPAIGNS -->
        {{#each campaigns}}
            {{>campaign_card}}
        {{/each}}
        <div class="col-xs-12 col-sm-4"></div>

        <div class="col-xs-12 col-sm-4"></div>

    </section>
</template>    

<template name="campaign_card">
    <div class="campaign-card col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4" >

            <a href="{{pathFor 'campaign' _id=_id}}"><img class="campaign-image" src="{{image}}">   

            <h3>{{showTitle}}</h3>
            <span class="date-venue">{{dateToThrow}}</span>
            <span class="date-venue">{{venue}}</span>

            <div class="slider col-xs-12">
                <div class="progress" style="width: {{percent_funded}}%;"></div>
            </div>

            <div class="percentage col-xs-3">
                <strong>{{percentFunded}}%</strong>
                <br>
                <span>funded</span>
            </div>

            <div class="funded col-xs-4">
                <strong>{{fundedSoFar}}</strong>
                <br>
                <span>pledged</span>
            </div>

            <div class="to-go col-xs-5">
                {{#with timeLeft}}
                    <strong>{{number}}</strong>
                    <br>
                    <span>{{unit}} to go</span>
                {{/with}}
            </div>
            </a> 
        </div>
</template>


