<template name="howitworks">
    
    <section class="background background-long">

        <div class="intro-body">

            <h1 class="heading color-white">How It Works</h1>
            
            <div class="col-xs-8 col-xs-offset-2">

                <div class="icon-container">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <img src="../media/img/rocket.png" class="icon-small">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                         <p>A promoter launches a campaign to bring a band to play at a venue on a certain date.</p>
                    </div>

                </div>

                <div class="icon-container">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <img src="../media/img/piggy.png" class="icon">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                         <p>Fans pledge to buy tickets for the concert until the funding goal is reached.</p>
                    </div>

                </div>

                <div class="icon-container">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <img src="../media/img/check.png" class="icon-small">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                         <p>Once the funding goal is reached, the band and venue confirm to book the concert.</p>
                    </div>

                </div>

                <div class="icon-container">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <img src="../media/img/music.png" class="icon">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                         <p>If both the band and venue confirm, the payments are collected and the show is thrown!</p>
                    </div>

                </div>

                <div class="icon-container">

                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <img src="../media/img/x.png" class="icon-small">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                         <p>If either the band or the venue does not confirm, the show is not thrown and fans keep their money.</p>
                    </div>

                </div>

            </div>

        </div>

    </section>
</template>