<template name="login">
  <div class="content-container container">
    <form class="form-horizontal" id="login-form" action="action" role="form">
      <fieldset>

      <!-- Form Name -->
      <legend>Log In</legend>

      <!-- Text input-->
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="enter your username" class="form-control" type="text">
      </div>

      <!-- Password input-->
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="password" class="form-control" type="password">      
      </div>

      <!-- Button -->
      <div class="form-group">
        <a id="login-button" name="login" class="btn btn-primary">Log In</a>
        <a href="{{pathFor 'signup'}}" name="signup" class="btn btn-default">Sign Up</a>
      </div>

      </fieldset>
    </form>
  </div>
</template>