<!-- BASIC ENTRY POINT FOR THE APP-->
<head>
    <title>Showthrower - Concert Crowdfunding</title>
</head>

<body>
</body>

<template name="home">
    <!-- INTRO -->

    <div id="title">
        
        <!-- TITLE -->
        <span class="brand-heading color-white">Show</span><span class="brand-heading color-brand">Thrower</span>

        <!--TAGLINE -->
        <p class="intro-text">
            <a href="{{pathFor 'howitworks'}}" class="color-white">Concert Crowdfunding</a>
        </p>

        <!-- LINK -->
        <div>
            <a href="{{pathFor 'explore'}}" class="btn btn-default btn-lg intro-button">
                Find A Show Near You
            </a>
        </div>

    </div>
    
</template>